@import url('https://fonts.googleapis.com/css?family=Frijole');

body{
    background: url(../img/wooden-wall-small.jpg) repeat;
    width: 100%;
    height: 900px;
    font-family: 'Frijole', cursive;
}
#window{
    width: 100%;
    position: relative;
    z-index: 1000;
    box-shadow:  10px 10px 10px grey;
}
#windowbox{
    width: 50%;
    position: relative;
    margin: 0 auto;
    bottom: 370px;
    overflow: hidden;
}
#cityview{
    background-image: url(../img/blue-sky-1330598792xLu.jpg);
    background-size: cover;
    width: 100%;
    height: 95%;
    position: absolute;;
    bottom: 20px;
}
#plane{
    width: 15%;
    z-index: 1;
    position: absolute;
    left: 820px;
    bottom: 450px;
}
#plane2{
    width: 10%;
    transform: scaleX(-1);
    z-index: 1;
    position: absolute;
    left: 280px;
    bottom: 400px;
}
/*
.animation2{
    animation: flying 5s;
    animation-timing-function: linear;
    animation-direction: reverse;
    animation-iteration-count: infinite;  
}
.animation{
    animation: flying 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;  
}
@keyframes flying{
    0% {left:750px; bottom: 450px;}
    25% {left:625px; bottom: 450px;}
    50% {left:500px; bottom: 450px;}
    75% {left:375px; bottom: 450px;}
    100% {left:280px; bottom: 450px;}
} 
*/
/*
.animation{
    animation-name: flying;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;  
}
@keyframes flying2{
    0% {left:280px; bottom: 450px;}
    25% {left:375px; bottom: 450px;}
    50% {left:500px; bottom: 450px;}
    75% {left:625px; bottom: 450px;}
    100% {left:750px; bottom: 450px;}
} 
.animation2{
    animation-name: flying2;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;  
}
*/
.logo-wrap {
    width: 100%;
}
#logo{
    width: 35%;
    position: absolute;
    left: 200px;
    top: 50px;
    z-index: 10;
}
#logo2{
    width: 50%;
    position: absolute;
    left: 250px;
    top: 70px;
    z-index: 10;
}
#logoP{
    width: 30%;
    position: absolute;
    left: 300px;
    top: 150px;
    z-index: 10;
}
#bknyc{
    z-index: 100;
    width: 35%;
    position: absolute;
    left: 200px;
    top: 50px;
    display: none;
}
#taipei101{
    z-index: 100;
    width: 25%;
    position: absolute;
    left: 250px;
    top: 70px;
    display: none;
}
#eiffel{
    z-index: 100;
    width: 30%;
    position: absolute;
    left: 300px;
    top: 150px;
    display: none;
}
h1, h2{
    color: #b5287b;
    text-transform: uppercase;
	font-family: 'Frijole', cursive;
	font-size: 140%;
    margin-left: 50px;
    margin-bottom: 10px;
    text-shadow: 3px 3px 5px white;
    position: relative;
    z-index: 3000;
}

h2{
    font-size: 220%;
    float:right;
    line-height: 85%;
    margin-right: 3%;
    margin-top: 0;
}
button{
	font-family: 'Frijole', cursive;
    background-color: #b5287b;
	padding: 5px 8px;
	margin: 10px 50px;
	border-radius: 5px;
    border: none;
    box-shadow: 3px 3px 5px lightblue;
	text-transform: uppercase;
	font-size: 120%;
	letter-spacing: 2px;
	color: #f7f2ec;
	cursor: pointer;
}
button:hover {
	background-color: #f7f2ec;
	color: #cc2e8b;
}

button.inactive {
	background-color: #b5287b;
	color: #cc2e8b;
	cursor: default;
}
#desk{
    width: 80%;
    position: absolute;
    top: 550px;
    left:300px;
    z-index: 2000;
}
#laptop{
    width: 20%;
    position: absolute;
    left: 500px;
    top: 465px;
    z-index: 3000;
}
#laptopScreen{
    width: 250px;
    height: 60px;
    position: absolute;
    left: 500px;
    top: 465px;
    z-index: 3000;
    margin: 0 auto;
}
.typist{
    font-family: monospace;
    width: 100%;
    position: absolute;
    z-index: 4000;
    color: ghostwhite;
    font-size: 90%;
    left: 50px;
}
#order{
    font-family: monospace;
	font-size: 80%;
	letter-spacing: 0px;
    position: relative;
    z-index: 4000;
    border: none;
    top: 50px;
    left: 100px;
    box-shadow: 0px 0px 0px;
}

#flashContent{
    z-index: 2500;
    position: absolute;
    top: 220px;
    left: 700px;
}
#floor{
    width: 100%;
    position: absolute;
    top: 750px;   
}
